<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- <link rel="stylesheet" href="/stylesheets/style.css" /> --}}
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.15.16/dist/css/uikit.min.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.15.16/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.15.16/dist/js/uikit-icons.min.js"></script>
    <title>Files</title>
</head>
<body>
    <div class="data">
        <div class="menu-panel">
            <div>
                {{> menu}}
            </div>
        </div>
        <div class="allfiles">
            <ul>
            {{#each files}}
                <li>
                    <a href="../files/{{this}}" uk-icon="icon: cloud-download" download=""></a>
                    {{this}}
                </li>
            {{/each}}
            </ul>
        </div>
    </div>
</body>
</html>