<a href="/upload" id="touploadpage">
    <button class="btn-hover color-9">Upload Page</button>
</a>
<a href="/" id="touploadpage">
    <button class="btn-hover color-9">Home Page</button>
</a>
<a href="/files" id="touploadpage">
    <button class="btn-hover color-9">All Files</button>
</a>